In [33]:
import pandas as pd
import numpy as np

In [34]:
fruits = pd.Series(['apples', 'oranges', 'bananas', 'reversed'])
animals = pd.Series(index=['dogs', 'cats', 'birds', 'fish'], 
                    data=['gau', 'memoryview', 'ord', 'fishship', ])
print(fruits)
print(animals)

0      apples
1     oranges
2     bananas
3    reversed
dtype: object
dogs            gau
cats     memoryview
birds           ord
fish       fishship
dtype: object

## Tao 2 bang khac nhau

In [35]:
import pandas as pd

# Tạo hai Series
students = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
                     index=['Alice', 'Bob', 'Charles', 'David', 'Eric', 'Frank', 'George', 'Hannah', 'Ivan', 'John'])

index2 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
                   index=['Alice', 'Bob', 'Charles', 'David', 'Eric', 'Frank', 'George', 'Hannah', 'Ivan', 'John'])

# In kết quả
print("Students Series:\n", students)
print("\nIndex2 Series:\n", index2)

Students Series:
 Alice       1
Bob         2
Charles     3
David       4
Eric        5
Frank       6
George      7
Hannah      8
Ivan        9
John       10
dtype: int64

Index2 Series:
 Alice       1
Bob         2
Charles     3
David       4
Eric        5
Frank       6
George      7
Hannah      8
Ivan        9
John       10
dtype: int64

In [39]:
import pandas as pd

# Tạo hai Series
students = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
                     index=['Alice', 'Bob', 'Charles', 'David', 'Eric', 'Frank', 'George', 'Hannah', 'Ivan', 'John'])

index2 = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1], 
                   index=['Alice', 'Bob', 'Charles', 'David', 'Eric', 'Frank', 'George', 'Hannah', 'Ivan', 'John'])

# Tạo DataFrame với 4 cột
data = pd.DataFrame({
    "Students": students,
    "Index2": index2,
    "Column3": students + index2,  # Ví dụ: Tổng hai Series
    "Column4": students * index2  # Ví dụ: Tích hai Series
})

# In kết quả
print(data)

         Students  Index2  Column3  Column4
Alice           1      10       11       10
Bob             2       9       11       18
Charles         3       8       11       24
David           4       7       11       28
Eric            5       6       11       30
Frank           6       5       11       30
George          7       4       11       28
Hannah          8       3       11       24
Ivan            9       2       11       18
John           10       1       11       10

In [20]:


student = pd.Series(
    data=['Hoa', 'Nam', 'Hai', 'Linh', 'Nhan', 'Phuong', 'Thu', 'Vu', 'Bao'],
    index=[37, 48, 42, 39, 41, 38, 40, 40, 100]
)

print(student)

37        Hoa
48        Nam
42        Hai
39       Linh
41       Nhan
38     Phuong
40        Thu
40         Vu
100       Bao
dtype: object

## Tìm và in cân nặng của "Thu"

In [28]:

# Tìm và in cân nặng của "Thu"
thu_weight = student[student == "Thu"].index[0]
print("Cân nặng của Thu là:", thu_weight)

Cân nặng của Thu là: 40

## In ra thông tin Bảo có phải là nguuoi có cân nặng lớn nhất lớp không

In [37]:
# Tìm cân nặng lớn nhất
max_weight = student.index.max()  # Giá trị cân nặng lớn nhất
heaviest_person = student[max_weight]  # Người có cân nặng lớn nhất

# Kiểm tra và in kết quả
if heaviest_person == "Bao":
    print("Bảo là người có cân nặng lớn nhất lớp với cân nặng:", max_weight)
else:
    print("Bảo không phải là người có cân nặng lớn nhất lớp.")

Bảo là người có cân nặng lớn nhất lớp với cân nặng: 100

## DataFrame

In [43]:
animals = pd.DataFrame({
    "dongVat" : ['dog', 'cat', 'bird', 'fish'],
    "tuoiTho" : [25,25,70,50],
    "loai" : ['có vú', 'linh trưởng', 'có vú', 'fish']
})

print(animals)

  dongVat  tuoiTho         loai
0     dog       25        có vú
1     cat       25  linh trưởng
2    bird       70        có vú
3    fish       50         fish

## Đọc viết file csv

In [46]:
import pandas as pd

# Tạo dữ liệu
data = {
    'Name': ['John', 'Jane', 'Doe'],
    'Age': [30, 25, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

# Tạo DataFrame từ dữ liệu
df = pd.DataFrame(data)

# Xuất DataFrame ra tệp CSV
df.to_csv('output.csv', index=False)

print("DataFrame đã được lưu vào tệp 'output.csv'.")

## Đọc file csv
df = pd.read_csv('output.csv')
print(df)
df = df.to_csv('output.csv', index=False)
print(df)
df_read = pd.read_csv('output.csv')

DataFrame đã được lưu vào tệp 'output.csv'.
   Name  Age         City
0  John   30     New York
1  Jane   25  Los Angeles
2   Doe   35      Chicago
None

## Đọc viết file excel

In [68]:
import pandas as pd

# Tạo dữ liệu
data = {
    'Name': ['John', 'Jane', 'Doe'],
    'Age': [30, 25, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

# Tạo DataFrame từ dữ liệu
df = pd.DataFrame(data)

# Xuất DataFrame ra tệp Excel
df.to_excel('output.xlsx', index=False)

print("DataFrame đã được lưu vào tệp 'output.xlsx'.")

DataFrame đã được lưu vào tệp 'output.xlsx'.

## lọc cột trong DataFrame

In [48]:
animals[["dongVat", "tuoiTho"]]

  dongVat  tuoiTho
0     dog       25
1     cat       25
2    bird       70
3    fish       50

## loc hàng trong dataFrame

In [65]:
animals.loc[0:4, ["dongVat", "tuoiTho"]]

  dongVat  tuoiTho
0     dog       25
1     cat       25
2    bird       70
3    fish       50

## Lọc có điều kiện

In [60]:
age_data = animals[["tuoiTho", "dongVat"]]
age_data = age_data[age_data["tuoiTho"] > 25]
print(age_data)

   tuoiTho dongVat
2       70    bird
3       50    fish

## kết hợp lọc

In [66]:
animals.loc[animals.tuoiTho > 25, ["dongVat", "tuoiTho"]]

  dongVat  tuoiTho
2    bird       70
3    fish       50