In [79]:
import pandas as pd
import random


names = ['Hoa', 'Nam', 'Hai', 'Linh', 'Nhan', 'Phuong', 'Thu', 'Vu', 'Bao', 'Hieu', 'Lan', 'Duy', 'Tuan', 'Kien', 'Minh', 'Trung', 'Quyen', 'Tung', 'Hien', 'Mai']
genders = ['Nam', 'Nữ']
classes = ['10A1', '10A2', '11B1', '11B2', '12C1', '12C2']


def generate_scores():
    return [random.randint(5, 10) for _ in range(3)] 


data = {
    'Tên': names,
    'Giới tính': [random.choice(genders) for _ in names],
    'Điểm Toán': [score[0] for score in [generate_scores() for _ in names]],
    'Điểm Anh Văn': [score[1] for score in [generate_scores() for _ in names]],
    'Điểm Ngữ Văn': [score[2] for score in [generate_scores() for _ in names]],
    'Lớp': [random.choice(classes) for _ in names]
}


students_df = pd.DataFrame(data)

print(students_df)

       Tên Giới tính  Điểm Toán  Điểm Anh Văn  Điểm Ngữ Văn   Lớp
0      Hoa        Nữ          7             6             5  11B2
1      Nam        Nữ          6            10             9  12C1
2      Hai        Nữ         10             7             5  11B1
3     Linh        Nữ          6             6             7  10A2
4     Nhan        Nữ          7            10             9  10A2
5   Phuong        Nữ         10             6             9  12C2
6      Thu       Nam         10             7            10  12C1
7       Vu       Nam         10             9             7  10A2
8      Bao        Nữ          5             7             7  11B2
9     Hieu        Nữ         10             6             6  10A1
10     Lan       Nam         10             5             5  12C1
11     Duy       Nam          6             6             8  11B2
12    Tuan        Nữ          8             7             6  11B2
13    Kien        Nữ          9            10             7  10A1
14    Minh        Nữ          8             6             8  12C1
15   Trung        Nữ          7             7             9  11B2
16   Quyen       Nam          5             8            10  10A1
17    Tung        Nữ          5             9             7  11B1
18    Hien       Nam          8             5             9  12C1
19     Mai        Nữ          8             8            10  12C2

### Tính điểm trung bình của từng học sinh.

In [80]:
# Tạo DataFrame
students_df = pd.DataFrame(data)

# Tính điểm trung bình
students_df['Điểm trung bình'] = students_df[['Điểm Toán', 'Điểm Anh Văn', 'Điểm Ngữ Văn']].mean(axis=1)

# In kết quả
print(students_df)

       Tên Giới tính  Điểm Toán  Điểm Anh Văn  Điểm Ngữ Văn   Lớp  \
0      Hoa        Nữ          7             6             5  11B2
1      Nam        Nữ          6            10             9  12C1
2      Hai        Nữ         10             7             5  11B1
3     Linh        Nữ          6             6             7  10A2
4     Nhan        Nữ          7            10             9  10A2
5   Phuong        Nữ         10             6             9  12C2
6      Thu       Nam         10             7            10  12C1
7       Vu       Nam         10             9             7  10A2
8      Bao        Nữ          5             7             7  11B2
9     Hieu        Nữ         10             6             6  10A1
10     Lan       Nam         10             5             5  12C1
11     Duy       Nam          6             6             8  11B2
12    Tuan        Nữ          8             7             6  11B2
13    Kien        Nữ          9            10             7  10A1
14    Minh        Nữ          8             6             8  12C1
15   Trung        Nữ          7             7             9  11B2
16   Quyen       Nam          5             8            10  10A1
17    Tung        Nữ          5             9             7  11B1
18    Hien       Nam          8             5             9  12C1
19     Mai        Nữ          8             8            10  12C2

    Điểm trung bình
0          6.000000
1          8.333333
2          7.333333
3          6.333333
4          8.666667
5          8.333333
6          9.000000
7          8.666667
8          6.333333
9          7.333333
10         6.666667
11         6.666667
12         7.000000
13         8.666667
14         7.333333
15         7.666667
16         7.666667
17         7.000000
18         7.333333
19         8.666667

## Tìm học sinh có điểm Toán cao nhất.

In [81]:
students_df = pd.DataFrame(data)

# tim hoc sinh co diem toan cao nhat
max_math_score = students_df['Điểm Toán'].max()
best_math_students = students_df[students_df['Điểm Toán'] == max_math_score]
print(best_math_students)

       Tên Giới tính  Điểm Toán  Điểm Anh Văn  Điểm Ngữ Văn   Lớp
2      Hai        Nữ         10             7             5  11B1
5   Phuong        Nữ         10             6             9  12C2
6      Thu       Nam         10             7            10  12C1
7       Vu       Nam         10             9             7  10A2
9     Hieu        Nữ         10             6             6  10A1
10     Lan       Nam         10             5             5  12C1

## Tính điểm trung bình môn Anh Văn của toàn lớp.

In [87]:
students_df = pd.DataFrame(data)

# Tính điểm trung bình Anh Văn
students_df['Điểm trung bình'] = students_df[['Điểm Toán', 'Điểm Anh Văn', 'Điểm Ngữ Văn']].mean(axis=1)

# Tính điểm trung bình môn Anh Văn của toàn l��p
class_avg = students_df['Điểm Anh Văn'].mean()
print(class_avg)
print(students_df)

7.25
       Tên Giới tính  Điểm Toán  Điểm Anh Văn  Điểm Ngữ Văn   Lớp  \
0      Hoa        Nữ          7             6             5  11B2
1      Nam        Nữ          6            10             9  12C1
2      Hai        Nữ         10             7             5  11B1
3     Linh        Nữ          6             6             7  10A2
4     Nhan        Nữ          7            10             9  10A2
5   Phuong        Nữ         10             6             9  12C2
6      Thu       Nam         10             7            10  12C1
7       Vu       Nam         10             9             7  10A2
8      Bao        Nữ          5             7             7  11B2
9     Hieu        Nữ         10             6             6  10A1
10     Lan       Nam         10             5             5  12C1
11     Duy       Nam          6             6             8  11B2
12    Tuan        Nữ          8             7             6  11B2
13    Kien        Nữ          9            10             7  10A1
14    Minh        Nữ          8             6             8  12C1
15   Trung        Nữ          7             7             9  11B2
16   Quyen       Nam          5             8            10  10A1
17    Tung        Nữ          5             9             7  11B1
18    Hien       Nam          8             5             9  12C1
19     Mai        Nữ          8             8            10  12C2

    Điểm trung bình
0          6.000000
1          8.333333
2          7.333333
3          6.333333
4          8.666667
5          8.333333
6          9.000000
7          8.666667
8          6.333333
9          7.333333
10         6.666667
11         6.666667
12         7.000000
13         8.666667
14         7.333333
15         7.666667
16         7.666667
17         7.000000
18         7.333333
19         8.666667

## Đếm số học sinh nam và nữ trong lớp.

In [91]:
students_df = pd.DataFrame(data)

# Tính t��ng số học sinh
total_students = students_df['Tên'].count()
print("Tổng số học sinh cả khối là:",total_students)

# Tính số học sinh nam
male_students = students_df[students_df['Giới tính'] == 'Nam']['Tên'].count()
print("Số học sinh nam là: " ,male_students)

# Tính số học sinh nữ
female_students = students_df[students_df['Giới tính'] == 'Nữ']['Tên'].count()
print("Số học sinh nữ là: " ,female_students)

Tổng số học sinh cả khối là: 20
Số học sinh nam là:  6
Số học sinh nữ là:  14

## Tìm lớp có điểm trung bình môn Ngữ Văn cao nhất.

In [94]:
students_df = pd.DataFrame(data)

# Tính điểm trung bình môn Ngữ Văn
students_df['Điểm trung bình'] = students_df[['Điểm Toán', 'Điểm Anh Văn', 'Điểm Ngữ Văn']].mean(axis=1)
# Ý nghĩa của axis trong NumPy và pandas:
# axis=0: Tính toán dọc theo các cột (chiều dọc).
# axis=1: Tính toán dọc theo các hàng (chiều ngang).


# Tìm l��p có điểm trung bình môn Ngữ Văn cao nhất
max_avg_score = students_df['Điểm trung bình'].max()
best_class = students_df[students_df['Điểm trung bình'] == max_avg_score]
print(best_class)

   Tên Giới tính  Điểm Toán  Điểm Anh Văn  Điểm Ngữ Văn   Lớp  Điểm trung bình
6  Thu       Nam         10             7            10  12C1              9.0

## Lọc học sinh có điểm Toán trên 8.

In [96]:
students_df = pd.DataFrame(data)

# Lọc học sinh có điểm Toán trên 8
students_df[students_df['Điểm Toán'] > 8]
print(students_df[students_df['Điểm Toán'] > 8])

       Tên Giới tính  Điểm Toán  Điểm Anh Văn  Điểm Ngữ Văn   Lớp
2      Hai        Nữ         10             7             5  11B1
5   Phuong        Nữ         10             6             9  12C2
6      Thu       Nam         10             7            10  12C1
7       Vu       Nam         10             9             7  10A2
9     Hieu        Nữ         10             6             6  10A1
10     Lan       Nam         10             5             5  12C1
13    Kien        Nữ          9            10             7  10A1